body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


table {
  width: 100%;
}

tr {
  width: 100%
}

.table td {
  vertical-align: middle;
}

.avatar-col {
  width: 5%;
}

.post {
  resize: both;
  border: 2px solid darkgray;  
  border-radius: 5%;

}